/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #020c1b;
    color: white;
}

/* Container */
.container {
    padding: 20px;
    margin-top: 40px;
}

/* Boxes */
.box {
    background: rgba(255,255,255,0.06);
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(6px);
    text-align: center;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.12);
    color: white;
}

/* Buttons */
button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: white;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

/* Error message */
.error {
    color: #ff6b6b;
    margin-top: 5px;
}

/* Bottom Navigation */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,0.06);
    backdrop-filter: blur(8px);
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    text-align: center;
    color: #bbb;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 15px;
}

.nav-item span {
    display: block;
    font-size: 12px;
}

.active {
    background: rgba(255,255,255,0.12);
    color: white;
}
