/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #020c1b;
    color: white;
}

/* Search Header */
.search-header {
    padding: 15px;
    background: #020c1b;
    position: sticky;
    top: 0;
}

#searchInput {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.1);
    color: white;
}

/* Tags */
.section-title {
    margin: 20px 15px 10px;
    opacity: 0.8;
}

.tags-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 15px;
}

.tag {
    padding: 6px 14px;
    background: rgba(255,255,255,0.08);
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

/* Video Grid */
.video-grid {
    columns: 2;
    gap: 10px;
    padding: 15px;
}

.video {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255,255,255,0.1);
}

.video img {
    width: 100%;
    display: block;
}

/* Bottom Nav */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,0.06);
    backdrop-filter: blur(8px);
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    text-align: center;
    color: #bbb;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 15px;
}

.nav-item span {
    display: block;
    font-size: 12px;
}

.active {
    background: rgba(255,255,255,0.12);
    color: white;
}
