/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #020c1b;
    color: white;
}

/* Header */
.top-header {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.profile-icon {
    width: 42px;
    height: 42px;
    background: url('default.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);

    cursor: pointer;
}


/* Content Area */
.main-content {
    padding: 20px;
    padding-bottom: 100px;
}

.welcome {
    opacity: 0.7;
}

/* Bottom Navigation */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,0.06);
    backdrop-filter: blur(8px);
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    text-align: center;
    color: #bbb;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 15px;
}

.nav-item span {
    display: block;
    font-size: 12px;
    margin-top: 3px;
}

.active {
    background: rgba(255,255,255,0.12);
    color: white;
}






.center-box {
  position: absolute;       /* ya relative + flex parent */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #4e5c88;   /* box color */
  padding: 40px 60px;       /* box padding */
  border-radius: 15px;      /* rounded corners */
  box-shadow: 0 8px 20px rgba(0,0,0,0.2); /* subtle shadow */
  font-family: Arial, sans-serif;
}



/* Bottom Navigation */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,0.06);
    backdrop-filter: blur(8px);
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    z-index: 999;
}

.nav-item {
    text-align: center;
    color: #bbb;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 15px;
}

.nav-item span {
    display: block;
    font-size: 12px;
    margin-top: 3px;
}

.nav-item.active {
    background: rgba(255,255,255,0.12);
    color: white;
}


.hidden {
    display: none; /* पहले से छुपा रहेगा */
}

.admin-panel {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    width: max-content;
}