/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #070707f9;
    color: white;
}

/* Header */
.top-header {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.profile-icon {
    width: 42px;
    height: 42px;
    background: url('default.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    cursor: pointer;
}

/* Content Area */
.main-content {
    padding: 20px;
    padding-bottom: 100px;
}

.welcome {
    opacity: 0.7;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #ff5252;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* Bottom Navigation */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    
    background: #070707bb;
    backdrop-filter: blur(8px);
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    text-align: center;
    color: #bbb;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 15px;
}

.nav-item span {
    display: block;
    font-size: 12px;
    margin-top: 3px;
}

.active {
    background: rgba(255,255,255,0.12);
    color: white;
}


.select-btn {
  width: 100%;
  padding: 12px;
  background: #ff5252;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.upload-popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-popup.hidden {
  display: none;
}

.popup-box {
  background: white;
  width: 80%;
  max-width: 300px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

#progressFill {
  height: 100%;
  width: 0%;
  background: black;
  transition: width 0.3s ease;
}
